// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;
$--color-primary: #0660ff;
$--color-success: #43cc7a;
$--color-warning: #fd9a24;
$--color-danger: #ff5e69;

// sidebar
$sidebarLogoBG: #fff;
$menuText: #000;
$menuActiveText: #0660ff;
$menuActiveBg: #e6f7ff;
$subMenuActiveText: #000; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #fff;
$menuHover: #e6f7ff;

$subMenuBg: #fff;
$subMenuHover: #e6f7ff;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
